@import 'tailwindcss';

@layer base {
  :root {
    --color-primary: #6181d8;
    --color-primary-light: #d5def5;
  }
}
@layer utilities {
  /* background */
  .bg-primary {
    @apply bg-(--color-primary);
  }
  .bg-primary-light {
    @apply bg-(--color-primary-light);
  }
  .hover\:bg-primary-light:hover {
    @apply bg-(--color-primary-light);
  }

  /* text */
  .text-primary {
    @apply text-(--color-primary);
  }
  .text-primary-light {
    @apply text-(--color-primary-light);
  }
  .hover\:text-primary:hover {
    @apply text-(--color-primary);
  }

  /* border */
  .border-primary {
    @apply border-(--color-primary);
  }
  .border-primary-light {
    @apply border-(--color-primary-light);
  }
}

@layer utilities {
  .pressable {
    @apply transition-transform duration-500 ease-out active:scale-50 cursor-pointer;
  }
}
